# Python
.env
__pycache__/
*.py[cod]
*$py.class
.venv/
uv.lock
.mypy_cache/
.ruff_cache/

# Node
node_modules/
.next/
out/
build/
dist/
.pnpm-debug.log
pnpm-lock.yaml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.env